In [1]:
%pylab inline
%config InlineBackend.figure_formats = ['retina']

from collections import OrderedDict

import pandas as pd
import seaborn as sns
sns.set()
import pickle
import itertools

from sklearn.linear_model import LogisticRegressionCV
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score, confusion_matrix
from sklearn.preprocessing import StandardScaler, PolynomialFeatures

import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV, train_test_split
from sklearn.metrics import confusion_matrix, classification_report, roc_curve, roc_auc_score, auc, accuracy_score

import matplotlib.pyplot as plt

Populating the interactive namespace from numpy and matplotlib

In [2]:
path = 'instacart_data_subset/'
dfoi = pd.read_csv(path + 'orders_subset.csv')
dfoi.head(3)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,1363380,50,prior,1,3,9,NaN
1,3131103,50,prior,2,6,12,10.0
2,2197066,50,prior,3,1,13,9.0

In [3]:
dfpi = pd.read_csv(path + 'order_products__prior_subset.csv')
dfpi.head(3)

   order_id  product_id  add_to_cart_order  reordered
0        12       30597                  1          1
1        12       15221                  2          1
2        12       43772                  3          1

In [4]:
dfc = pd.read_csv(path + 'order_products__train_subset.csv')
dfc.head(3)

   order_id  product_id  add_to_cart_order  reordered
0      1077       13176                  1          1
1      1077       39922                  2          1
2      1077        5258                  3          1

In [ ]:
dfai = dfpi.merge(dfoi.drop('eval_set', axis=1),on='order_id')
dfc = dfc.merge(dfoi.drop('eval_set', axis=1),on='order_id')

In [ ]:
dfai.head(3)

,order_id,product_id,add_to_cart_order,reordered,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,12,30597,1,1,152610,22,6,8,10.0
1,12,15221,2,1,152610,22,6,8,10.0
2,12,43772,3,1,152610,22,6,8,10.0

In [ ]:
with open('dfpbu.pkl', 'rb') as f:
    dfpbu = pickle.load(f)
dfpbu.head(3)

,product_id,user_id,orders,times_ordered,last_time_ordered,last_order,orders_since_last_time_ordered,days_since_ordered_last
0,1,21285,{2730676},1,2,48,46,340.0
1,3298,21285,{2730676},1,2,48,46,340.0
2,4920,21285,"{2910961, 3240764, 2915357}",3,16,48,32,230.0

In [ ]:
current_ids = dfc['user_id'].unique()
current_ids

array([173934, 129386, 156818, ..., 199878,  20949,  15818])

In [ ]:
df_X = dfpbu[dfpbu['user_id'].isin(current_ids)]
df_X.head(3)

,product_id,user_id,orders,times_ordered,last_time_ordered,last_order,orders_since_last_time_ordered,days_since_ordered_last
0,1,21285,{2730676},1,2,48,46,340.0
1,3298,21285,{2730676},1,2,48,46,340.0
2,4920,21285,"{2910961, 3240764, 2915357}",3,16,48,32,230.0

In [ ]:
current_carts = (dfc.groupby('user_id',as_index=False)
                 .agg({'product_id':(lambda x: set(x))})
                 .rename(columns={'product_id':'latest_cart'}))
df_X = df_X.merge(current_carts, on='user_id')
df_X['in_cart'] = (df_X.apply(lambda row: row['product_id'] in row['latest_cart'], axis=1).astype(int))

In [ ]:

df_X.head(10)

,product_id,user_id,orders,times_ordered,last_time_ordered,last_order,orders_since_last_time_ordered,days_since_ordered_last,latest_cart,in_cart
0,1,21285,{2730676},1,2,48,46,340.0,"{21573, 35561, 37710, 11759, 12341, 13176, 32478}",0
1,3298,21285,{2730676},1,2,48,46,340.0,"{21573, 35561, 37710, 11759, 12341, 13176, 32478}",0
2,4920,21285,"{2910961, 3240764, 2915357}",3,16,48,32,230.0,"{21573, 35561, 37710, 11759, 12341, 13176, 32478}",0
3,6066,21285,"{2045938, 2488003}",2,25,48,23,161.0,"{21573, 35561, 37710, 11759, 12341, 13176, 32478}",0
4,6184,21285,"{3256832, 1449505, 2567235, 2817229, 867643, 2...",6,46,48,2,7.0,"{21573, 35561, 37710, 11759, 12341, 13176, 32478}",0
5,7987,21285,"{1716278, 1186871}",2,21,48,27,189.0,"{21573, 35561, 37710, 11759, 12341, 13176, 32478}",0
6,10509,21285,"{2476291, 3268422, 2072264, 2168016, 2915357}",5,37,48,11,70.0,"{21573, 35561, 37710, 11759, 12341, 13176, 32478}",0
7,11759,21285,"{3256832, 2476291, 1054731, 307468, 2012695, 2...",30,47,48,1,0.0,"{21573, 35561, 37710, 11759, 12341, 13176, 32478}",1
8,12341,21285,"{3256832, 873218, 2476291, 1054731, 1414680, 2...",35,48,48,0,0.0,"{21573, 35561, 37710, 11759, 12341, 13176, 32478}",1
9,13042,21285,{2107766},1,8,48,40,293.0,"{21573, 35561, 37710, 11759, 12341, 13176, 32478}",0

In [ ]:
df_X['last_order_p_total_orders'] = df_X['orders_since_last_time_ordered']/df_X['last_order']

In [ ]:
prod_features = ['product_total_orders','product_avg_add_to_cart_order']

df_prod_features = (dfpi.groupby(['product_id'],as_index=False)
                    .agg(OrderedDict([('order_id','nunique'),
                                      ('add_to_cart_order','mean')])))
df_prod_features.columns = ['product_id'] + prod_features
df_prod_features.head(3)

   product_id  product_total_orders  product_avg_add_to_cart_order
0           1                    26                       4.576923
1           2                     1                       3.000000
2           3                     1                       4.000000

In [ ]:
df_X = df_X.merge(df_prod_features, on='product_id')

df_X.head(3)

,product_id,user_id,orders,times_ordered,last_time_ordered,last_order,orders_since_last_time_ordered,days_since_ordered_last,latest_cart,in_cart,last_order_p_total_orders,product_total_orders,product_avg_add_to_cart_order
0,1,21285,{2730676},1,2,48,46,340.0,"{21573, 35561, 37710, 11759, 12341, 13176, 32478}",0,0.958333,26,4.576923
1,1,47549,"{2609753, 2946722, 2067429, 3370662}",4,21,26,5,81.0,"{27845, 27790, 13042, 10326, 37687}",0,0.192308,26,4.576923
2,1,54136,{1501823},1,18,23,5,64.0,"{47977, 5450, 26604, 5296, 11123, 24852, 10070...",0,0.217391,26,4.576923

In [ ]:
user_features = ['user_total_orders','user_avg_cartsize','user_total_products','user_avg_days_since_prior_order']

df_user_features = (dfai.groupby(['user_id'],as_index=False)
                                           .agg(OrderedDict(
                                                   [('order_id',['nunique', (lambda x: x.shape[0] / x.nunique())]),
                                                    ('product_id','nunique'),
                                                    ('days_since_prior_order','mean')])))

df_user_features.columns = ['user_id'] + user_features
df_user_features.head(3)

,user_id,user_total_orders,user_avg_cartsize,user_total_products,user_avg_days_since_prior_order
0,50,67,6.761194,89,5.691275
1,52,27,6.259259,51,9.134969
2,65,14,9.428571,80,13.594828

In [ ]:
df_X = df_X.merge(df_user_features, on='user_id')
df_X = df_X.dropna() # note that this is naive NaN handling for simplicity
df_X.head(1)

,product_id,user_id,orders,times_ordered,last_time_ordered,last_order,orders_since_last_time_ordered,days_since_ordered_last,latest_cart,in_cart,last_order_p_total_orders,product_total_orders,product_avg_add_to_cart_order,user_total_orders,user_avg_cartsize,user_total_products,user_avg_days_since_prior_order
0,1,21285,{2730676},1,2,48,46,340.0,"{21573, 35561, 37710, 11759, 12341, 13176, 32478}",0,0.958333,26,4.576923,48,6.604167,46,8.044872

In [ ]:
def plot_features(df, sample_size=500):
    
    sample = (df.drop(['product_id','user_id','latest_cart'],axis=1)
                .sample(1000, random_state=44)) 
    sns.pairplot(sample,hue='in_cart', plot_kws=dict(alpha=.3, edgecolor='none'))

plot_features(df_X)

/Users/jackselbo/anaconda3/lib/python3.7/site-packages/scipy/stats/stats.py:1713: FutureWarning: Using a non-tuple sequence for multidimensional indexing is deprecated; use `arr[tuple(seq)]` instead of `arr[seq]`. In the future this will be interpreted as an array index, `arr[np.array(seq)]`, which will result either in an error or a different result.
  return np.add.reduce(sorted[indexer] * weights, axis=axis) / sumval
/Users/jackselbo/anaconda3/lib/python3.7/site-packages/statsmodels/nonparametric/kde.py:488: RuntimeWarning: invalid value encountered in true_divide
  binned = fast_linbin(X, a, b, gridsize) / (delta * nobs)
/Users/jackselbo/anaconda3/lib/python3.7/site-packages/statsmodels/nonparametric/kdetools.py:34: RuntimeWarning: invalid value encountered in double_scalars
  FAC1 = 2*(np.pi*bw/RANGE)**2
/Users/jackselbo/anaconda3/lib/python3.7/site-packages/numpy/core/fromnumeric.py:83: RuntimeWarning: invalid value encountered in reduce
  return ufunc.reduce(obj, axis, dtype, out, **passkwargs)

In [ ]:
def get_user_split_data(df, test_size=.2, seed=42):

    rs = np.random.RandomState(seed)
    
    total_users = df['user_id'].unique() 
    test_users = rs.choice(total_users, 
                           size=int(total_users.shape[0] * test_size), 
                           replace=False)

    df_tr = df[~df['user_id'].isin(test_users)]
    df_te = df[df['user_id'].isin(test_users)] 

    y_tr, y_te = df_tr['in_cart'], df_te['in_cart']

    return df_tr, df_te, y_tr, y_te

In [ ]:
df_tr, df_te, y_tr, y_te = get_user_split_data(df_X)

X_tr = df_tr.drop(['product_id','orders','user_id','latest_cart','in_cart'],axis=1) 
X_te = df_te.drop(['product_id','orders','user_id','latest_cart','in_cart'],axis=1)

lr = LogisticRegressionCV(class_weight='balanced')
lr.fit(X_tr, y_tr)
f1_score(lr.predict(X_te), y_te)

In [ ]:
user_prod_features = ['user_product_avg_add_to_cart_order']

df_user_prod_features = (dfai.groupby(['product_id','user_id'],as_index=False)
                                                .agg(OrderedDict(
                                                     [('add_to_cart_order','mean')])))

df_user_prod_features.columns = ['product_id','user_id'] + user_prod_features 
df_user_prod_features.head()

In [ ]:
df_X = df_X.merge(df_user_prod_features,on=['user_id','product_id'])
df_X['user_product_order_freq'] = df_X['times_ordered'] / df_X['user_total_orders'] 
df_X.head(1)

In [ ]:
plot_features(df_X)

In [ ]:
lr = LogisticRegressionCV(class_weight='balanced')
lr.fit(X_tr, y_tr)
f1_score(lr.predict(X_te), y_te)

In [ ]:
lr.coef_

In [ ]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_tr.values)
#X_val_scaled = scaler.transform(X_val.values)
X_test_scaled = scaler.transform(X_te.values)

In [ ]:
lrscaled = LogisticRegressionCV(class_weight='balanced', penalty='l1', solver='saga')
lrscaled.fit(X_train_scaled, y_tr)
f1_score(lrscaled.predict(X_test_scaled), y_te)

In [ ]:
lrscaled.coef_

In [ ]:
df_X.columns # Dropped ['product_id','orders','user_id','latest_cart','in_cart']

In [ ]:
# important features are times_ordered, days_since_ordered_last, last_order_p_total_orders, product_total_orders, user_product_order_freq

In [ ]:
df_te['prediction_probability']=lr.predict_proba(X_test_scaled)[:,1]

In [ ]:
confusion_matrix(df_te['in_cart'], df_te['prediction_probability']>.5)

In [ ]:
df_te[['product_id','user_id','in_cart','prediction_probability']].sort_values('prediction_probability',ascending=False).head(10)

In [ ]:
def plot_confusion_matrix(cm, classes,
                          normalize=False,
                          title='Confusion matrix',
                          cmap=plt.cm.Blues):
    """
    This function prints and plots the confusion matrix.
    Normalization can be applied by setting `normalize=True`.
    """
    if normalize:
        cm = cm.astype('float') / cm.sum(axis=1)[:, np.newaxis]
        print("Normalized confusion matrix")
    else:
        print('Confusion matrix, without normalization')

    print(cm)

    plt.imshow(cm, interpolation='nearest', cmap=cmap)
    plt.title(title)
    plt.colorbar()
    tick_marks = np.arange(len(classes))
    plt.xticks(tick_marks, classes, rotation=45)
    plt.yticks(tick_marks, classes)

    fmt = '.2f' if normalize else 'd'
    thresh = cm.max() / 2.
    for i, j in itertools.product(range(cm.shape[0]), range(cm.shape[1])):
        plt.text(j, i, format(cm[i, j], fmt),
                 horizontalalignment="center",
                 color="white" if cm[i, j] > thresh else "black")

    plt.ylabel('True label')
    plt.xlabel('Predicted label')
    plt.tight_layout()
    plt.grid(False)

In [ ]:
plt.figure()
cnf_matrix = confusion_matrix(df_te['in_cart'], df_te['prediction_probability']>.5)
plot_confusion_matrix(cnf_matrix, classes=['Not in Cart','In Cart'],normalize=True,
                      title='Normalized confusion matrix')

plt.show()

In [ ]:
products = pd.read_csv('Data/products.csv')

In [ ]:
products.head()

In [ ]:
df_te[['product_id','user_id','in_cart','prediction_probability']].merge(products[['product_id', 'product_name']], on='product_id').sort_values('prediction_probability',ascending=False).head(10)

In [ ]:
lrscaled.coef_

In [ ]:
coef = pd.DataFrame(lrscaled.coef_.tolist()[0], columns=['scaled'])

In [ ]:
coef

In [ ]:

coefs = {'names':['times_ordered','days_since_ordered_last','last_order_p_total_orders','product_total_orders','user_product_order_freq'], 
        'coef': [.04,-.17,-.38,.04,.53]}

In [ ]:
coef = pd.DataFrame.from_dict(coefs)

In [ ]:
coef.set_index('names')

In [ ]:
sns.barplot(x='coef',y = 'names',data=coef).set_title('Scaled Coefficient Values')

In [ ]:
confusion_matrix(df_te['in_cart'], df_te['prediction_probability']>.5)

In [ ]:
cm = [[25459,35734],[711,5699]]
recall = cm[1][1]/(cm[1][1]+cm[1][0])
precision = cm[1][1]/(cm[1][1]+cm[0][1])
f1 = (2*precision*recall)/(precision+recall)
print(recall,precision, f1)

In [ ]:
lrscaled = LogisticRegressionCV(class_weight='balanced', penalty='l1', solver='saga')
lrscaled.fit(X_train_scaled, y_tr)
f1_score(lrscaled.predict(X_test_scaled), y_te)

In [ ]:
acc = (cm[0][0]+cm[1][1])/(cm[0][0]+cm[1][1]+cm[1][0]+cm[0][1])

In [ ]:
print(acc)

In [ ]:
rot = df_te[['product_id','user_id','in_cart','prediction_probability']].merge(products[['product_id', 'product_name']], on='product_id').sort_values('prediction_probability',ascending=False)

In [ ]:
rot.groupby(['user_id']).agg({'product_name':(lambda x: set(x))},{'product_id':'count'}).head(15)

In [ ]:
pd.set_option('max_colwidth', 100)

In [ ]:
rot[rot['prediction_probability']>.8].groupby(['user_id']).agg({'product_name':(lambda x: set(x))},{'product_id':'count'}).head(5)

In [ ]:
base_model = RandomForestClassifier(random_state=63, max_depth=5, n_estimators=500, 
                                    class_weight='balanced', min_samples_leaf=1000, n_jobs=-1)
base_model.fit(X_train_scaled, y_tr)
f1_score(base_model.predict(X_test_scaled), y_te)

In [ ]:
# generate class predictions
base_preds = base_model.predict(X_te)

print(classification_report(y_te, base_preds, labels=[0,1], target_names=['class 0', 'class 1']))

In [ ]:
df_X.to_csv('instacart_data_subset/instacart_df_X_features.csv', index=False)